:root {
	--primary: #d8af1b;
	--form-element-spacing-vertical: 0.25rem;
	--spacing: 1rem;
	--grid-spacing-horizontal: 5rem;
}

h2 {
	font-size: 1rem;
	font-weight: normal;
}

h3 {
}

h4 {
	--font-size: 0.75rem;
	--typography-spacing-vertical: 2.25rem;
	margin-bottom: 0.5em;
}

@media print {
	body * {
	  visibility: hidden;
	}
	#results, #results * {
	  visibility: visible;
	}
	#results {
	  position: absolute;
	  left: 0;
	  top: 0;
	}
  }