[data-theme="light"],
:root:not([data-theme="dark"]) {
	--primary: #546e7a;
	--primary-hover: #6c8b99;
	--form-element-spacing-vertical: 0.25rem;
	--spacing: 1rem;
	--block-spacing-vertical: 1.5rem;
	--grid-spacing-horizontal: 5rem;
}

article>header {
	margin-bottom: 1rem;
}

hr{
	margin-top: 0;
}

h1,h3,h4,h5,h6{
	--typography-spacing-vertical: 1rem;
}

h2 {
	font-size: 1rem;
	font-weight: normal;
	--typography-spacing-vertical: 0rem;
}


h4 {
	--font-size: 0.75rem;
	--typography-spacing-vertical: 2.25rem;
	margin-bottom: 0.5em;
}

@media print {
	body * {
	  visibility: hidden;
	}
	#results, #results * {
	  visibility: visible;
	}
	#results {
	  position: absolute;
	  left: 0;
	  top: 0;
	}
  }

